@import "./../../styles/variables.scss";

.processing-ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 40px;
  }
  .spinner-loading {
    margin: 20px 0 50px 0;
  }
}
