// fonts used
$app-name-font: "Alegreya Sans SC", sans-serif;
$body-font: "Roboto", sans-serif;

// color
$primary-color: #260801;
$rose-color: #ffc2b5;
$orange-color: #ffe3cc;
$secondary-color: #6a4d54;
$text-color: #0f0f0f;
$border-color: #616569;
$white-color: #fff;
